# 21) Crea un DataFrame pandas da un dizionario.

In [3]:
import pandas as pd

# Definisci un dizionario con dati
dati = {
    'Nome': ['Daniele', 'Marco', 'Chiara', 'Francesco', 'Maria'],
    'Età': [25, 27, 32, 23, 45],
    'Città': ['Roma', 'Monza', 'Bergamo', 'Firenze', 'Bari']
}

# Crea un DataFrame pandas dal dizionario
df = pd.DataFrame(dati)

# Stampa il DataFrame
print(df)

        Nome  Età    Città
0    Daniele   25     Roma
1      Marco   27    Monza
2     Chiara   32  Bergamo
3  Francesco   23  Firenze
4      Maria   45     Bari

# 22) Leggi un file CSV in un DataFrame pandas.

In [19]:
import pandas as pd
import sys

try:
    data = pd.read_csv('Dataset_di_prova/public_health.csv')
except FileNotFoundError:
    print("File dataset_climatico.csv non trovato.")
    sys.exit()
    
data

,Country Name,1995,1996,1997,1998,1999,2000,2001,2002,2003,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Arab World,2.004868,2.014602,2.071309,2.177712,2.331000,2.333596,2.588751,2.540238,2.450415,...,2.134281,2.133038,2.166872,2.101233,2.830067,2.489631,2.539570,2.711262,2.895427,3.073161
1,Caribbean small states,2.801518,2.856684,2.997157,2.989451,2.767858,2.826752,2.679969,2.888693,2.740593,...,2.629580,2.650900,2.790665,2.822913,3.408651,3.264064,3.087653,3.314303,3.318432,3.260012
2,Central Europe and the Baltics,4.678528,4.753209,4.604574,4.499988,4.679082,4.539711,4.666272,4.900196,5.100249,...,4.970861,4.841450,4.809057,5.054785,5.394921,5.284380,5.096212,5.041317,5.029266,5.017717
3,Early-demographic dividend,2.203164,2.156632,2.227311,2.364100,2.454394,2.450555,2.527081,2.347702,2.363263,...,2.337347,2.369884,2.385251,2.405126,2.701260,2.507131,2.495491,2.497340,2.586701,2.665603
4,East Asia & Pacific,4.429090,4.203152,4.244351,4.453984,4.626920,4.688849,4.684790,4.613537,4.635098,...,4.566215,4.367146,4.297394,4.434848,4.865241,4.775817,4.871727,4.866869,4.643221,4.571448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,Vanuatu,2.139305,1.749747,2.296830,3.038570,2.639953,2.736929,2.788550,2.907660,3.418927,...,3.292996,3.427445,3.161682,3.179892,3.402323,4.182598,3.320178,3.167396,3.391475,4.510750
220,"Venezuela, RB",1.803152,1.482415,1.387316,1.466016,1.833422,2.163059,2.340757,2.151332,2.079300,...,2.153332,2.221770,2.464781,1.230489,2.496312,2.088239,2.335451,1.675638,1.542859,1.542766
221,Vietnam,1.757863,1.632232,1.604611,1.731438,1.717060,1.513863,1.627561,1.447736,1.551822,...,1.419570,1.944868,2.563552,2.131963,2.569187,2.960967,2.805002,3.722124,3.796361,3.820019
222,"Yemen, Rep.",1.358740,1.644501,1.898410,2.324038,2.127391,2.235286,2.294181,2.142649,2.181731,...,1.551117,1.521602,1.462790,1.565018,1.336698,1.299131,1.350447,1.571628,1.410010,1.271871
223,Zambia,2.152489,2.484678,2.585239,3.133965,3.403697,3.719900,3.526559,4.018110,4.187669,...,3.956979,2.755846,1.885822,2.189942,2.261668,2.279956,2.148932,2.536370,2.765405,2.760095

# 23) Seleziona una colonna specifica da un DataFrame.

In [18]:
import pandas as pd
import sys

try:
    data = pd.read_csv('Dataset_di_prova/public_health.csv')
except FileNotFoundError:
    print("File dataset_climatico.csv non trovato.")
    sys.exit()
    
colonna_2003 = data['2003']
colonna_2003

0      2.450415
1      2.740593
2      5.100249
3      2.363263
4      4.635098
         ...
219    3.418927
220    2.079300
221    1.551822
222    2.181731
223    4.187669
Name: 2003, Length: 224, dtype: float64

# 24) Filtra un DataFrame pandas in base a una condizione.

In [1]:
import pandas as pd
import sys

try:
    data = pd.read_csv('Dataset_di_prova/public_health.csv')
except FileNotFoundError:
    print("File public_health.csv non trovato.")
    sys.exit()

data_filtrati = data[data['Country Name'].str.startswith('A')]

anni = ['Country Name', '1995', '1996', '1997', '1998', '1999']
data_selezionati = data_filtrati[anni]

print(data_selezionati)

           Country Name      1995      1996      1997      1998      1999
0            Arab World  2.004868  2.014602  2.071309  2.177712  2.331000
40              Albania  1.713004  1.746198  2.024509  2.095128  2.510171
41              Algeria  2.673594  2.502183  2.553366  2.527980  2.383331
42              Andorra  3.982683  4.235647  4.297070  5.737580  3.933466
43               Angola  4.659118  1.739782  2.019219  1.414705  2.131798
44  Antigua and Barbuda  2.746345  2.505800  2.597403  2.672065  2.744200
45            Argentina  4.966443  4.631641  4.553044  4.624212  5.152316
46              Armenia  1.996273  1.621148  1.407496  1.644913  1.612415
47            Australia  4.775233  4.856308  5.016476  5.084648  5.326927
48              Austria  7.137100  7.096257  7.356729  7.478720  7.648252
49           Azerbaijan  1.391753  1.485547  1.228626  0.903807  0.985430

# 25) Calcola la media dei valori in ogni colonna di un DataFrame.

In [17]:
import numpy as np
import pandas as pd
import sys

try:
    data = pd.read_csv('Dataset_di_prova/public_health.csv')
except FileNotFoundError:
    print("File dataset_climatico.csv non trovato.")
    sys.exit()

media_valori_colonne = np.round(data.mean(numeric_only=True), 3)
media_valori_colonne

1995    3.366
1996    3.333
1997    3.354
1998    3.387
1999    3.394
2000    3.416
2001    3.513
2002    3.583
2003    3.682
2004    3.668
2005    3.733
2006    3.754
2007    3.768
2008    3.841
2009    4.160
2010    4.102
2011    4.053
2012    4.073
2013    4.151
2014    4.183
dtype: float64